<div class="modal fade" th:attr="id='confirmModal'">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Are you sure?</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <a href="" id="confirm"><button
                type="button" class="btn btn-success">Yes</button></a>
      </div>
    </div>
  </div>
</div>