<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Expense Manager Login</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:replace="~{fragments/navigation :: header}"></div>

<div class="container my-2">

  <h1 th:text="${currentUsername}"> 's Landing Page </h1>

  <!--
  th:utext="((${error_code} == '404') ? '<a href=&quot;http://localhost:8080/home&quot;>Home</a>' : '<a href=&quot;http://localhost:8080/login&quot;>Login</a>')"
  -->
  <table border="1" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
      <th>
        <a th:href="@{http://localhost:8094/{typeOfDash}/page/{currentPage}(sortField=amount,sortDir=${reverseSortDir},currentPage=${currentPage},typeOfDash=${typeOfDash})}">
          Amount</a>
      </th>
      <th>
        <a th:href="@{http://localhost:8094/{typeOfDash}/page/{currentPage}(sortField=currentStatus,sortDir=${reverseSortDir},currentPage=${currentPage},typeOfDash=${typeOfDash})}">
          Current Status</a>
      </th>
      <th>
        <a th:href="@{http://localhost:8094/{typeOfDash}/page/{currentPage}(sortField=dateModified,sortDir=${reverseSortDir},currentPage=${currentPage},typeOfDash=${typeOfDash})}">
          Date Modified</a>
      </th>
      <th>
        <a th:href="@{http://localhost:8094/{typeOfDash}/page/{currentPage}(sortField=dateOfPurchase,sortDir=${reverseSortDir},currentPage=${currentPage},typeOfDash=${typeOfDash})}">
          Date Of Purchase</a>
      </th>
      <th>
        <a rel="stylesheet" th:href="@{http://localhost:8094/{typeOfDash}/page/{currentPage}(sortField=receipt,sortDir=${reverseSortDir},currentPage=${currentPage},typeOfDash=${typeOfDash})}">
          Receipt</a>
      </th>
      <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="expense : ${listExpenses}">
      <td th:text="${expense.getAmount()}"></td>
      <td th:text="${expense.getCurrentStatus()}"></td>
      <td th:text="${expense.getDateModified()}"></td>
      <td th:text="${expense.getDateOfPurchase()}"></td>
      <td th:media="${expense.getReceipt()}"></td>
      <td>
        <!-- th:href="@{/expenses/{id}(id=${expense.getId})}" -->
        <button th:if="!${manager}" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#confirmModal">Update</button>


        <a th:if="${manager}" th:href="@{/expenses/{id}/{status}(id=${expense.getId},status='approve')}" class="btn btn-success btn-sm">Approve</a>
        <a th:if="${manager}" th:href="@{/expenses/{id}/{status}(id=${expense.getId},status='deny')}" class="btn btn-danger btn-sm">Deny</a>
        <a th:if="${manager}" th:href="@{/expenses/{id}/{status}(id=${expense.getId},status='nmi')}" class="btn btn-warning btn-sm">Needs Info</a>
        <div class="modal fade" id="confirmModal">
          <div class="modal-dialog">
            <div class="modal-content">

              <div class="modal-header">
                <h4 class="modal-title">Are you sure?</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <a th:href="@{/}"><button
                        type="button" class="btn btn-success">Yes</button></a>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>


  <div th:if = "${totalPages > 1}">
    <div class = "row col-sm-10">
      <div class = "col-sm-2">
        Total Rows: [[${totalItems}]]
      </div>
      <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{http://localhost:8094/{typeOfDash}/page/{i}(i=${i},sortField=${sortField},sortDir=${sortDir},typeOfDash=${typeOfDash})}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
      </div>
      <div class = "col-sm-1">
        <a th:if="${currentPage < totalPages}" th:href="@{http://localhost:8094/{typeOfDash}/page/{i}(i=${currentPage + 1},sortField=${sortField},sortDir=${sortDir},typeOfDash=${typeOfDash})}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
      </div>

      <div class="col-sm-1">
        <a th:if="${currentPage < totalPages}" th:href="@{http://localhost:8094/{typeOfDash}/page/{i}(i=${totalPages},sortField=${sortField},sortDir=${sortDir},typeOfDash=${typeOfDash})}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>
      </div>
    </div>
  </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>